<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite1">
	<listeners>
		<listener class-name="com.WebShopDemo.Utility.Reporting" />
	</listeners> 
   <test name = "test chrome">
   	<parameter name="browser" value="chrome" />
      <classes>

      <class name="com.WebShopDemo.TestCases.LandingPage_TC"/>
      </classes>
   </test>

</suite>